<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <title>李艳兴的剪切板</title>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script> <!-- jquery -->
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- bootstrap核心js -->
        <script src="/clipboard.min.js"></script>

        <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap核心css -->
    </head>

    <body>
        <div th:each="foo : ${all_content}">
            <input th:id="@{'c'+${foo.contentId}}" type="text" th:value="${foo.contentMaster}"/>
            <button class="btn btn-success" data-clipboard-action="copy" th:data-clipboard-target="@{'#c'+${foo.contentId}}">
                复制
            </button>
        </div>

        <script>
            var clipboard = new ClipboardJS('.btn');
        </script>

    </body>

</html>